@charset "UTF-8";
body{
	background-color: #808080;
	
}

ul.lista1 li {
  float:left;
  width: 10em;
  border: 5px dashed #954A95;
  margin-right: 1em;
  padding: 0.5em 0em;
  background-color: #5ACE77;
  color: #5E0272;
  font-weight: bold;
  text-align: center;
  display: inline;
}

.clear1 {
	clear: both ;
}
 ul.lista2 li {
 	 width: 10em;
 	 height: 10em;
 	 background-color: white;
 	 display: inline;
 	 margin-right: 1em;
 	 padding: 0.5em;
 	 text-align: center;
 	
 }
 
 ul.lista2 li:hover {
  	border: white 0.1em solid;
  	border-color: black;
  	background-color: #d3d3d3;
  }
  
 